

<div class="banner">
  <div class="banner-wrapper text-center">
    <%= image_tag('logo-cc2.png', crop: :fill) %>

  </div>
</div>

<div class=" container d-flex justify-content-between mb-4 p-5">

    <div class="btn btn-flat-2" id="myBtn" >Add a Cocktail</div>
    <div style="display: flex">
      <div>
      <%= form_tag cocktails_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-cocktails",
        placeholder: "Find a cocktail"
        %>
        </div>
         <%= submit_tag "Search", class: "btn btn-flat-search " %>
      <% end %>
    </div>
</div>

<div class="container text-center">

  <div class="row d-flex justify-content-center ">

    <% @cocktails.each do |c| %>
      <%= link_to cocktail_path(c) do  %>
        <div class="card-category col-12 m-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path c.photo.key%>)">
          <%= c.name %>
        </div>
      <% end %>
    <% end %>

  </div>
  </div>



<div id="myPopup" class="popup">


  <!-- Modal content -->
  <div class="popup-content">
    <div class="popup-border">
      <span class="close">&times;</span>
        <%= simple_form_for(@cocktail) do |f| %>
         <%= f.input :name, label: "Name your cocktail!" %>
         <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>


</div>

